RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^([^/]+)$    ./index.php?page=$1
RewriteRule ^([^/]+)/$    ./index.php?page=$1

RewriteRule ^eshop/([^/]+)$    ./index.php?page=eshop&subpage=$1
RewriteRule ^eshop/([^/]+)/$    ./index.php?page=eshop&subpage=$1

RewriteRule ^eshop/category/([^/]+)$    ./index.php?page=eshop&category=$1
RewriteRule ^eshop/category/([^/]+)/$    ./index.php?page=eshop&category=$1

RewriteRule ^eshop/category/([^/]+)/([^/]+)$    ./index.php?page=eshop&category=$1&id=$2
RewriteRule ^eshop/category/([^/]+)/([^/]+)/$    ./index.php?page=eshop&category=$1&id=$2

RewriteRule ^eshop/category/([^/]+)/order/([^/]+)$    ./index.php?page=eshop&category=$1&order=$2&pageNumber=1
RewriteRule ^eshop/category/([^/]+)/order/([^/]+)/$    ./index.php?page=eshop&category=$1&order=$2&pageNumber=1

RewriteRule ^eshop/category/([^/]+)/order/([^/]+)/pageNumber/([^/]+)$    ./index.php?page=eshop&category=$1&order=$2&pageNumber=$3
RewriteRule ^eshop/category/([^/]+)/order/([^/]+)/pageNumber/([^/]+)/$    ./index.php?page=eshop&category=$1&order=$2&pageNumber=$3