RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^([^/]+)$    ./index.php?page=$1
RewriteRule ^([^/]+)/$    ./index.php?page=$1

RewriteRule ^eshop/([^/]+)$    ./index.php?page=eshop&subpage=$1
RewriteRule ^eshop/([^/]+)/$    ./index.php?page=eshop&subpage=$1

RewriteRule ^eshop/search/([^/]+)$    ./index.php?page=eshop&subpage=search&search=$1
RewriteRule ^eshop/search/([^/]+)/$    ./index.php?page=eshop&subpage=search&search=$1

RewriteRule ^eshop/pageNumber/([^/]+)/search/([^/]+)$    ./index.php?page=eshop&subpage=search&search=$2&pageNumber=$1
RewriteRule ^eshop/pageNumber/([^/]+)/search/([^/]+)/$    ./index.php?page=eshop&subpage=search&search=$2&pageNumber=$1

RewriteRule ^eshop/category/([^/]+)$    ./index.php?page=eshop&category=$1
RewriteRule ^eshop/category/([^/]+)/$    ./index.php?page=eshop&category=$1

RewriteRule ^eshop/category/([^/]+)/([^/]+)$    ./index.php?page=eshop&category=$1&id=$2
RewriteRule ^eshop/category/([^/]+)/([^/]+)/$    ./index.php?page=eshop&category=$1&id=$2

RewriteRule ^eshop/category/([^/]+)/order/([^/]+)$    ./index.php?page=eshop&category=$1&order=$2&pageNumber=1
RewriteRule ^eshop/category/([^/]+)/order/([^/]+)/$    ./index.php?page=eshop&category=$1&order=$2&pageNumber=1

RewriteRule ^eshop/category/([^/]+)/order/([^/]+)/pageNumber/([^/]+)$    ./index.php?page=eshop&category=$1&order=$2&pageNumber=$3
RewriteRule ^eshop/category/([^/]+)/order/([^/]+)/pageNumber/([^/]+)/$    ./index.php?page=eshop&category=$1&order=$2&pageNumber=$3

RewriteRule ^forum/nove-tema$    ./index.php?page=forum&subpage=nove_tema
RewriteRule ^forum/nove-tema/$    ./index.php?page=forum&subpage=nove_tema

RewriteRule ^forum/pravidla$    ./index.php?page=forum&subpage=pravidla
RewriteRule ^forum/pravidla/$    ./index.php?page=forum&subpage=pravidla

RewriteRule ^forum/tema/([^/]+)$    ./index.php?page=forum&subpage=tema&id=$1
RewriteRule ^forum/tema/([^/]+)/$    ./index.php?page=forum&subpage=tema&id=$1

RewriteRule ^forum/tema/([^/]+)/prispevek/([^/]+)$    ./index.php?page=forum&subpage=tema&id=$1#prispevek_$2
RewriteRule ^forum/tema/([^/]+)/prispevek/([^/]+)/$    ./index.php?page=forum&subpage=tema&id=$1#prispevek_$2


<IfModule mod_expires.c>
    ExpiresActive on
 
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
</IfModule>